<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>oa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OrgServlet</display-name>
    <servlet-name>OrgServlet</servlet-name>
    <servlet-class>cn.tedu.oa.web.OrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrgServlet</servlet-name>
    <url-pattern>/org</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonServlet</display-name>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>cn.tedu.oa.web.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleServlet</display-name>
    <servlet-name>ModuleServlet</servlet-name>
    <servlet-class>cn.tedu.oa.web.ModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleServlet</servlet-name>
    <url-pattern>/module</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>cn.tedu.oa.web.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/role</url-pattern>
  </servlet-mapping>
</web-app>