

.menu{
  BACKGROUND-COLOR: #aabb00;
  width:250px;
  height:350px;
  MARGIN-LEFT:35px;
  MARGIN-TOP:60px;
  PADDING-TOP:50px;
  PADDING-LEFT:12px;
  left:25px;
}
.main{
  position:absolute;
  BACKGROUND-COLOR: #6699cc; 
  width:850px;
  height:390px;
  MARGIN-LEFT:10px;
  MARGIN-TOP:60px;
  PADDING-TOP:10px;
  PADDING-LEFT:10px;
  top:0px;
  left:295px;
}
